<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Accueil</a></li>
<li><a href="/about">A propos</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
  </footer>
<script>
  if (window.screen.width <= 640) {
    new SimpleBar(document.getElementsByTagName('table')[0], { autoHide: false, scrollbarMinSize: 5 })
  }
 </script>
  </body>

</html>
